a {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.search {
  max-width: 956px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 122px;
}

.filter {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filter select {
  margin-top: 7px;
  padding: 7px 0;
  font-family: Roboto;
  font-size: 14px;
  border: none;
  width: 205px;
  outline: none;
  color: black;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../images/Polygon.svg) no-repeat right ;
}

.language,
.type {
  margin: 4px 25px 1px 0 ;
  border-bottom: 1px solid #0366D6;
}

.search-input {
  display: flex;
  margin-right: 30px;
  flex-direction: column;
  position: relative;
}

.search-input input {
  padding: 5px 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 17px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #0366D6;
  width: 336px;
  outline: none;

}

.search-input label {
  font-family: Roboto;
  font-size: 12px;
  color: #0366D6;
}

.search-btn {
  width: 130px;
  height: 35px;
  font-size: 14px;
  color: white;
  background: #0366D6;
  margin-top: 5px;
  outline: none;
}

.search-btn:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.mapping-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 27px;
}

.mapping-type :nth-child(1) {
  margin-right: 12px;
}

.without-repository {
  height: 390px;
  width: 100%;
  background: url("../../images/background.svg") center center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.without-repository h4 {
  font-family: Roboto;
  font-size: 37px;
  color: #0366D6;
  margin: 0;
}

.without-repository p {
  font-family: Roboto;
  font-size: 24px;
  color: black;
  margin: 0;
}

.error {
  font-family: Roboto;
  font-size: 14px;
  color: red;
}

.search-error {
  position: absolute;
  align-self: center;
  bottom: -20px;
  right: 0;
}
